.dirstamp
.deps
.libs
*.la
*.lo
*.o
stamp-h*
/m4
/aclocal.m4
/autom4te.cache
/install-sh
/missing
/configure
/config.guess
/config.log
/config.status
/config.sub
/libtool.sh
/libtool
/compile
/ltmain.sh
/depcomp
/ar-lib
/Makefile.in
/Makefile
/doc/Makefile.in
/doc/Makefile
/doc/doxyfile.stamp
/doc/doxygen.cfg
/doc/html
/src/Makefile
/src/Makefile.in
/src/config.h.in
/src/config.h
/src/uxmpp.pc
/src/uxmpp/uxmpp_config.hpp
/test/Makefile
/test/Makefile.in
/test/test_IpHostAddr
/test/test_Resolver
/test/test_Session
/test/test_XmlObject
/test/test_XmlStream
/test/test_Logger
/test/test_Jid
/test/test_ImpSession
/test/test_Timer
/test/test_cores
/test/test_ConnectionManager
/test/test_FileConnection
/test/test_Semaphore
/test/test_RegisterModule
/test/uxmpp
